/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex Mono', monospace;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fcedf6;
  --text-color: #353430;
  --decor-color: var(--text-color);
  --color-title-text: #ffc2e6;
  --background-color-text: #f08bca;
  --color-text-menu: var(--text-color);
  --background-color: #fcedf6;
  --accent-color: #ff0070;
  --hover-color: rgba(50, 49, 45, 0.4);
  --border-color: var(--text-color);
}

